.container {
    max-width: 800px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 50px;

}

.header-container a {
    padding: 30px;
    color: grey;
    text-decoration: none;
    font-family: 'Roboto';
}

.logo {
    position: relative;
    bottom: 30px;
    padding-top: 5px;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.jumbo-header {
    
}